* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.7;
  background-color: aliceblue;
}

h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: none;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}
img {
  max-width: 100%;
  width: 200px;
  border-radius: 8px;
}

/* Main styling hero section  */

.container {
  max-width: 1000px;
  margin: auto;
}
